<div class="row">
  <div class="col-md-5">
    <%= render 'users', user: @user %>
  </div>
  <div class="col-md-6">
    
    
    <div class="card mt-5">
      <div class="card-header">
        <h5 class="card-title d-flex align-items-center justify-content-center">フォロー</h5>
      </div>
      <div class="card-body">
        <% if @followings.any? %>
          <ul class="list-unstyled">
            <% @followings.each do |following| %>
              <li class="follow_name mb-3">
                <div>
                  <%= image_tag following.image.url, alt: "icon", class: "user_icon rounded-circle mr-2" %>
                  <%= link_to following.name, followings_user_path(following) %>
                </div>
                <div>
                  <%= render 'relationships/follow_button', user: following %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>