<div class="row">
  <div class="col-sm-4">
    <%= render 'users', user: @user %>
  </div>
  <div class="col-sm-6 offset-sm-1">
    <ul class="nav nav-tabs nav-justified mb-6">
      <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-images fa-lg"></i></a></li>
      <li class="nav-item border-left"><a href="#" class="nav-link"><i class="far fa-heart fa-lg"></i></a></li>
    </ul>
  </div>
  
</div>
