/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/*全体*/

a {
    color: #900;
}

a:hover {
    color: #c03;
}

.btn-submit {
    color: #fff;
    background-color: #900;
}

.btn-white {
    color: #900;
    border-color: #900;
}

.btn:hover {
    color: #c03;
    background-color: #FFD5EC;
    border-color: #c03;
}

.form-control-file:hover  {
    cursor: pointer;
}

/*ヘッダー*/

.title {
    font-size: 25px;
    font-family: 'Marker Felt','Chalkboard SE','Comic Sans MS',sans-serif;
}


/*ユーザ詳細画面*/

.user_img_container{
  display: flex; 
  align-items: center;
}

.user_icon {
    width: 150px;
    /*height: 150px;*/
    object-fit: cover;
}

.edit_button {
    display: flex;
    justify-content: flex-end;
}

.user_list {
    margin: 0 auto;
}

.user_list li {
    display: inline-block;
    margin: 8px;
    
}


/*ユーザ編集画面*/

