/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


/*全体*/

a {
    color: #900;
}

a:hover {
    color: #c03;
}

.btn-submit {
    color: #fff;
    background-color: #900;
}

.btn-white {
    color: #900;
    border-color: #900;
}

.btn-delete {
    color: #fff;
    background-color: #000;
}

.btn:hover {
    color: #c03;
    background-color: #FFD5EC;
    border-color: #c03;
}

.form-control-file:hover  {
    cursor: pointer;
}


/*ヘッダー*/

.title {
    font-size: 25px;
    font-family: 'Marker Felt','Chalkboard SE','Comic Sans MS',sans-serif;
}

.navbar-light {
    background-color: #FFB6C1;
}


/*ユーザ詳細画面*/

.big_icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid;
  border-color: #C0C0C0;
}

.user_btn {
  display: flex;
  justify-content: flex-end;
}

.user_list {
  margin: 0 auto;
}

.user_list li {
  display: inline-block;
  margin: 8px;
    
}

.btn-follow {
  color: #007bff;
  background-color: #fff;
  border-color: #007bff;
}

.btn-follow:hover {
  color: #00f;
  background-color: #fff;
  border-color: #00f;
}

.btn-primary:hover {
  color: #00f;
  background-color: #fff;
  border-color: #00f;
}


/*トップページ*/

.post_icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid;
    border-color: #C0C0C0;
}

.user_icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid;
    border-color: #C0C0C0;
}

.post_foot {
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.btn-default {
  color: #f06;
}

.btn-default:hover {
  background-color: #fff;
}


/*投稿詳細画面*/

.comment_icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border: 1px solid;
  border-color: #C0C0C0;
}

.comment_head {
  display:flex;
  justify-content:space-between;
}

.comment_content {
  display:flex;
  justify-content:space-between;
}


/*投稿編集画面*/

.post_edit {
  display:flex;
  justify-content:space-between;
}


/*フォロー一覧ページ*/

.card-header {
  background-color: #fef;
}

.follow_name {
  display:flex;
  justify-content:space-between;
  align-items: center;
}